body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0f0;
    margin: 0;
    padding: 0;
}
.container{
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    margin-top: 10px;
}
label{
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}
input[type='text']{
    width: 100%;
    padding: 5px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button{
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
button:hover{
    background-color: #007bff;
}
h3{
    margin-top:20px;
}

.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    width: 300px;
  }
  
  .card-image {
    width: 100%;
    height: auto;
  }
  
  .card-content {
    padding: 20px;
  }
  
  .card-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .card-text {
    font-size: 1rem;
    color: #555;
    margin-bottom: 15px;
  }
  
  .card-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .card-button:hover {
    background-color: #0056b3;
  }
  